.main
  .main__contents
    .main__contents__content
      .main__contents__content__text
        ここは仮置きで！
      .main__contents__content__rightBox
        test
        %br
        2019/10/01 10:13
  .form
    %form
      .form__box
        %textarea#article_text.form__box__textArea{:name => "article[text]", :placeholder => "文字を入力（25文字以内）"}
        %input.form__box__submitBtn{"data-disable-with" => "投稿する", :name => "commit", :type => "submit", :value => "投稿する"}/

