.form {
  background-color:$main-background-color;
  filter: $filter-drop;
  margin: 30px auto;
}

.form__message {
  display:block;
  padding: 1px 0;

}

.form__box {
  margin: 30px auto;
  width: 80%;
}

.form__box__textArea {
  width: 100%;
  height: 80px;
  resize:none;
  min-height: 50px;
  overflow: auto;
  vertical-align: top;  
}

.form__box__submitBtn {
  display:block;
  margin: 10px auto 0 ;
  cursor: pointer;
}
